/* PALETA DE COLORES
Rosa        #F25EBF
Morado      #1D2173
Verde1      #08748C
Verde2      #07F2F2
Naranja     #F28066 */

@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', Arial, Helvetica, sans-serif; /* Incluye Oswald */
}

.main{
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* UNAL LOGO */
.corner-image {
    position: fixed; 
    bottom: 10px; 
    right: 10px;   
    width: 400px; 
    height: auto;
    z-index: 10;
    /* background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px; */
}

/* SLOGAN */
.slogan-box {
    width: 100%;
    --gap: 200px;
    font-size: 15px;
    margin-top: 10px;
    padding-block: 8px;
    border-block: 1px solid;
    overflow: hidden;
    user-select: none;
    display: flex; 
    gap: var(--gap);
    z-index: 100;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}
.slogan-box ul {
    list-style: none;
    flex-shrink: 0;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);
    animation: scroll 20s linear infinite;

}
.slogan{
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
}
.slogan-box:hover ul {
    animation-play-state: paused;
}
@keyframes scroll {
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}
.icons{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);
}
.icons i{
    display: flex;
    margin: -10px -10px;
    font-size: 40px;
    color: white;    
}
.icons i:hover{
    color: #07F2F2;
}
.icons img{
    margin: -10px -10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons img:hover{
    filter: invert(29%) sepia(97%) saturate(1233%) hue-rotate(124deg) brightness(103%) contrast(94%); /* https://codepen.io/sosuke/pen/Pjoqqp */
}


/* SLIDESHOW */
.slideshow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    visibility: hidden;
    flex-direction: column;
}
.slideshow h1{
    --to: left;
    font-weight: bold;
    background-image: linear-gradient(
        to var(--to), #690096, #ff6600, #0085a0
    );
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text; 
    -ms-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    line-height: 1.5em;
    position: relative;
    font-size: 50px;
    z-index: 8;
    margin: 0 auto;
    text-align: center;
    margin-left: 35%;
    top: 5%;
}
.slideshow h1.right{
    --to: right;
}
.slideshow .text-box {
    position: relative;
    width: 30%; 
    padding: 20px; 
    color: rgb(255, 255, 255); 
    box-sizing: border-box;
    z-index: 10;
    text-align: center;
    margin-left: 52%;
    top: 40%;
}
.slideshow .text-box h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    margin-bottom: 10px;
    
}
.slideshow ul.navigation {
    position: absolute;
    display: block;
    width: 700px;
    height: 700px;
    padding: 0;
    margin: 0;
    left: -330px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    
}
.slideshow ul.navigation li.navigation-item {
    position: absolute;
    display: inline-block;
    width: 250px;
    height: 250px;
    padding: 3px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    transition: border 0.6s ease-in-out;
    z-index: 1; 
}
.slideshow ul.navigation li.navigation-item::before {
    content: "";
    position: relative ;
    top: 50%;
    left: 0;
    right: 50%;
    bottom: 50%;
    border-radius: 50%; 
    box-shadow: 0px 0px 70px 60px #ffffff; 
    z-index: -1; 
    opacity: 1; 
}
.slideshow ul.navigation li.navigation-item .rotate-holder {
    position: fixed;
    display: block;
    width: 0;
    height: 0;
    left: -9999px;
    top: -9999px;
}
.slideshow ul.navigation li.navigation-item .background-holder {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;    
    background-size: cover;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out, scale 0.4s;
}
.slideshow ul.navigation li.navigation-item:hover .background-holder {
    opacity: 1;
    scale: 1.1;
}
.slideshow ul.navigation li.navigation-item.active .background-holder {
    opacity: 0;
    visibility: hidden;
    content: none;
}
.slideshow ul.navigation li.navigation-item.active::before {
    content: none;
}
.detail {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.detail .detail-item {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.detail .detail-item .headline {
    position: absolute;
    display: block;
    max-width: calc(100% - 480px);
    height: 126px;
    top: 50%;
    left: 400px;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    box-sizing: border-box;
    z-index: 2;
}
.detail .detail-item .headline .letter {
    position: relative;
    display: inline-block;
    opacity: 1;
    visibility: visible;
    color: #ffffff; /* Color del texto */
    font-size: 132px;
    line-height: 110px;
    font-weight: 900;
    font-kerning: none;
    white-space: nowrap;
    box-sizing: border-box;
    text-transform: uppercase;
    text-shadow: 10px 10px 20px #08748c;
}
.headline .letter {
    position: relative;
    display: inline-block;
    animation: animate 2s ease-in-out infinite;
}
@keyframes animate {
    0% {
        transform: translateY(0px);
    }
    20% {
        transform: translateY(-20px);
    }
    40%, 100% {
        transform: translateY(0px);
    }
}
.headline .letter:nth-child(1) {
    animation-delay: 0s;
}
.headline .letter:nth-child(2) {
    animation-delay: 0.2s;
}
.headline .letter:nth-child(3) {
    animation-delay: 0.4s;
}
.headline .letter:nth-child(4) {
    animation-delay: 0.6s;
}
.headline .letter:nth-child(5) {
    animation-delay: 0.8s;
}
.headline .letter:nth-child(6) {
    animation-delay: 1s;
}
.detail .detail-item .background {
    position: absolute;
    display: block;
    width: 100%;
    width: calc(100% + 100px);
    height: 100%;
    height: calc(100% + 100px);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center center;     
    background-size: cover;
    z-index: 1;
}
.detail .detail-item .background::before {
    content: ""; 
    background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%);   
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;  
}
.detail .detail-item.active {
    opacity: 1;
    visibility: visible;
}
.video-wrapper {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  
.video-wrapper::before {
    content: ""; 
    background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%);   
    position: absolreute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.video-wrapper .background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.detail #dotsCanvas {
    position: absolute;
    z-index: 1;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* SLIDER */
.blog-slider {
    width: 800px;
    height: 400px;
    position: absolute;
    margin: calc(50vh - 200px) 44%;
    background: #000000bb;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 30px 10px #000000;
    border-radius: 25px;
    transition: all 0.3s;
    z-index: 2;
}

.blog-slider__item {
    display: flex;
    align-items: center;
    position: relative;
}
.blog-slider__item.swiper-slide-active .blog-slider__img img {
    opacity: 1;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > * {
    opacity: 1;
    transform: none;
}
.blog-slider__img {
    width: 280px;
    flex-shrink: 0;
    height: 280px;
    /* box-shadow: 0px 0px 30px 10px #1d217387; */
    border-radius: 20px;
    /* transform: translateX(-80px); */
    overflow: hidden;
    margin-left: -80px;
}
.blog-slider__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0;
    border-radius: 20px;
    transition: all 0.3s;
}
.blog-slider__content {
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
    width: 100%;
}
.blog-slider__content > * {
    opacity: 0;
    transform: translateY(25px);
    transition: all 0.4s;
}
.blog-slider__code {
    color: #ffffff;
    margin-bottom: 5px;
    display: block;
    font-weight: 500;
}
.blog-slider__title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: -15px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 5px 10px rgba(255, 255, 255, 0);
}
.blog-slider__text {
    font-family: "Titillium Web", sans-serif;
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 20px;
    line-height: 1.2em;
}
.blog-slider__button-container {
    position: relative;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
}
.blog-slider__button {
    font-family: "Titillium Web", sans-serif;
    width: 150px;
    height: 200px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    background-image: linear-gradient(147deg, #ffffff 0%, #ffffff 74%); 
    border-radius: 10px;
    color: #000000; 
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.458);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    overflow: hidden; 
    transition: all 0.3s ease;
    user-select: text;
    position: relative;
    z-index: 5;
}
.button-image {
    width: auto; 
    height: 70%; 
    margin-top: 0px; 
    object-fit: cover;
    transition: opacity 0.3s ease;
}
.blog-slider__button:hover {
    transform: scale(1.5);
    z-index: 100;
}
.blog-slider__button:hover .button-image,
.blog-slider__button:hover .separator,
.blog-slider__button:hover .button-text,
.blog-slider__button:hover .button-subtext
{
    opacity: 0.5;
    filter: blur(5px);
}
.blog-slider__button:hover .button-hover-text,
.blog-slider__button:hover .button-hover-subtext,
.blog-slider__button:hover .button-hover-date {
    opacity: 1; 
    filter: none;
}
.button-hover-text {
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 15px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    padding: 5px 0; 
}
.button-hover-subtext {
    font-family: "Titillium Web", sans-serif;
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 9px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    padding: 20px 0; 
    margin: 8px 10px;
}
.button-hover-date {
    font-family: "Titillium Web", sans-serif;
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 9px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    padding: 20px 0; 
    margin: 100% 10px;
}
.button-text {
    width: 100%; 
    text-align: center; 
    padding: 5px; 
    font-size: 15px;
}
.button-subtext {
    font-family: "Titillium Web", sans-serif;
    font-size: 10px; 
    text-align: center; 
    padding: 1px 0; 
    width: 100%; 
}
.separator {
    width: 100%; 
    border: none; 
    border-top: 0.1px solid rgba(255, 255, 255, 0); 
    margin: 0 0; 
    box-shadow: 0 2px 5px rgb(0, 0, 0);
}
.blog-slider__members-text {
    font-family: "Titillium Web", sans-serif;
    font-size: 15px;
    color: #ffffff;
    line-height: 1.2em;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}
.blog-slider__members-name {
    font-family: "Titillium Web", sans-serif;
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}
.blog-slider__members-description {
    font-family: "Titillium Web", sans-serif;
    font-size: 15px;
    color: #818181;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;
}
.carousel-body {
    display: flex;
    padding: 0px 0px;
    align-items: center;
    justify-content: center;
}
.carousel-wrapper {
    max-width: 1200px;
    position: relative;
    overflow: hidden;
    justify-items: center;
    align-items: center;
}
.carousel-wrapper i{
    top: 50%;
    height: 30px;
    width: 30px;
    user-select: text;
    position: absolute;
    font-size: 1.2rem;
    text-align: center;
    line-height: 30px;
    background:#000000;
    border-radius: 50%;    
    transform: translateY(-50%);   
    box-shadow: 0 0px 6px rgb(255, 255, 255);
    color: #ffffff;
    cursor: pointer;
}
.carousel-wrapper i:hover {
    background:#434343;
}
.carousel-wrapper i:first-child {
    left: 4px;
}
.carousel-wrapper i:last-child {
    right: 4px;
}
.carousel-wrapper .carousel {
    overflow: hidden;
    user-select: text;
    white-space: nowrap;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100% / 3);
    justify-items: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    scroll-behavior: smooth;
    transition: scroll-left 0.5s ease;
    width: 540px;
}
.carousel-wrapper .carousel::before {
    content: '';
    position: absolute;
    left: calc(100% / 3);
    background: rgba(255, 166, 0, 0);
    pointer-events: none; 
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 35.5px;
    border: 5px solid #690096;
    box-shadow: 0 0px 15px #690096;
}
.carousel-wrapper .carousel.hide-before::before {
    content: none;
}
.carousel_content.hide-before::before {
    content: none;
}
.carousel img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0px 15px rgb(255, 255, 255);
    top: 50%;
}
.carousel_img {
    background:#0085a0;
    width: 108px;
    height: 108px;
    border-radius: 50%;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.carousel :where(.carousel_img) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.carousel img:first-child {
    margin-left: 0;
}
.carousel.no-transition{
    scroll-behavior: auto;
}
.carousel_content.no-transition {
    scroll-behavior: auto;
}
.carousel_content {
    overflow: hidden;
    user-select: text;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    justify-items: center;
    align-items: center;
    scroll-behavior: smooth;
    transition: scroll-left 0.5s ease;
    width: 700px;
}

.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
}
.blog-slider__pagination {
    position: absolute;
    z-index: 1;
    right: 20px;
    width: 11px !important;
    text-align: center;
    left: auto !important;
    top: 50%;
    bottom: auto !important;
    transform: translateY(-50%);
}
.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 8px 0;
}
.blog-slider__pagination .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    display: block;
    border-radius: 10px;
    background: #ffffff;
    opacity: 0.3;
    transition: all 0.3s;
}
.blog-slider__pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: #ffffff;
    height: 30px;
    box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
}

/* BOTÓN CONOCE MÁS */
.read_more {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff6600;
    border-radius: 20px;
    color: #ffffff; 
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.458);
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 3px;
    overflow: hidden; 
    text-transform: uppercase;
    margin-left: calc(50% - 100px);
}
.read_more:hover{
   scale: 1.1;
   box-shadow: 0 0 20px white;
   transition: background-color 0.3s ease-in-out;
}